<html>
<head>
    <title>Rock Paper Scissors</title>
</head>
<body>
    <h1>Rock Paper Scissors</h1>




    <form action='/' method='post'>
        <label for='player1'>Player One</label>
        <input id='player1' name='player1' type='text'>

        <label for='player2'>Player One</label>
        <input id='player2' name='player2' type='text'>

        <button type='submit'>Draw</button>
    </form>
</body>
</html>
