<html>
<head>
    <title>Rock Paper Scissors</title>
</head>
<body>
    <h1>Rock Paper Scissors</h1>

    <ul>




    </ul>


    <form action='/result' method='post'>
        <label for='player1'>Player One</label>
        <input id='player1' name='player1' type='text'>
        <!--
        <select>
          <option value="rock">Rock</option>
          <option value="scissors">Scissors</option>
          <option value="paper">Paper</option>
        <select>
        -->

        <label for='player2'>Player 2</label>
        <input id='player2' name='player2' type='text'>
        <!--
        <select>
          <option value="rock">Rock</option>
          <option value="scissors">Scissors</option>
          <option value="paper">Paper</option>
        <select>
        -->

        <button type='submit'>Draw</button>
    </form>
</body>
</html>
